@import '../../style/variables.scss';


.job__filter {
    
    padding: 20px;
    width: 315px;
    min-height: 360px;
    display: block;
    border: 1px solid #EAEBED;
    border-radius: 12px;
    background: #FFFFFF;
    
    &-title_wrapper {
        display: flex;
        justify-content: space-between;
    }

    &-title {
        font-weight: 700;
        font-size: 20px;
        line-height: 20px;
        color: $black;
    }

    &-reset {
        cursor: pointer;
        display: flex;
        font-weight: 500;
        font-size: 14px;
        color: $text-gray;
        transition: all .2s ease;


        &:hover {
            color: #92C1FF;
            transition: all .2s ease;
        }
        
        &:active {
            color: #3B7CD3;
            transition: all .1s ease;
        }

        span {
            transform: translateY(-3px);
            margin-left: 7px;
            font-weight: 400;
            font-size: 18px;
        }
    }

    &-reset {
        border: none;
        background-color:#FFFFFF;
    }

    &-industry {
        width: 275px;
    }

    // селектор для копки вниз
    .mantine-7c7vou {
        path {
            transition: all .2s ease;
        }
        path.active {
            stroke: $main-color;
            transform: rotateX(180deg) translateY(-8px);
            transition: all .2s ease;
        }
    }

    &-salary {
        width: 275px;

        &_arrows {
            position: relative;
            width: 12px;
            height: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            svg {
                &:hover {
                    path {
                        stroke: #92C1FF;
                        transform: translateY(-1px) translateX(-1px) scale(1.2);
                        transition: all .1s ease;
                    }
                }
                
                &:active {
                    path {
                        stroke: #5E96FC;
                        transform: scale(.97);
                        transition: all .1s ease;
                    }
                }
                
                path {
                    transition: all .2s ease;
                }
            }
            
        }
    }

    &-apply {
        margin-top: 20px;
    }
}