@import '../../style/variables.scss';

.topBar {
    &__header {
        background: #fff;
        padding: 24px 0 24px 0;
    }
    &__container {
        display: flex;
        width: 1116px;
        margin: 0 auto;
        justify-content: space-between;
    }
    &__logo {
        display: flex;
        align-items: center;

        a {
            display: flex;
            justify-content: space-between;
            width: 140px;
            height: 36px;

            .rotate {
                margin-top: 3px;
                width: 30px;
                height: 30px;
                transition: all .3s ease;
            }

            .logo {
                width: 99px;
            }
            
            &:hover {
                .rotate {
                    transform: rotate(45deg);
                    transition: all .3s ease;
                }
            }
            
            &:active {
                transition: all .1s ease;
                transform: scale(.97);
            }
        }

        &-text {
            align-items: center;
        }
    }
    &__menu {
        width: 275px;
        margin-right: 420px;
        align-items: center;
        display: flex;
        ul {
            width: 100%;
            display: flex;
            justify-content: space-between;
            li {
                display: block;
                font-weight: 400;
                font-size: 16px;
                line-height: 20px;
                transition: all .1s ease;

                &:hover {
                    transition: all .2s ease;
                    transform: translateY(-2px);
                }

                &:active {
                    transform: scale(1);
                }

                .active {
                    font-weight: 500;
                    color: $main-color;
                }
            }
        }
    }
}
