@import '../../style/variables.scss';

.job {
    
    &__list.descr {
        width: 773px;
        margin: 0 auto;
    }

    &__grid.descr {
        grid-template-rows: minmax(157px, auto);
        row-gap: 20px;
    }

    &__item.descr {

        &:nth-child(1) {
            min-height: 157px;
        }
    }

    &__title.descr {
        padding-right: 40px;
        font-weight: 700;
        font-size: 28px;
        color: $black;
    }

    &__descr.descr {
        margin-top: 16px;
    }

    &__descr-salary.descr {
        font-weight: 700;
        font-size: 20px;
        line-height: 20px;
    }

    &__descr-schedule.descr {
        font-size: 20px;
        line-height: 20px; 
    }
    
    &__location.descr {
        margin: 17px 0 0 2px;
    }
}